.page {
  max-width: 1280px;
  margin: 0 auto;
  border: 1px solid red;
  background-color: #2a2c2f;
  display: grid;
  grid-template-columns: minmax(auto, 148px) 1fr 1fr minmax(auto, 148px);
  /* grid-template-rows: 200px 200px 200px 100px; */
  /* grid-template-rows: 300px 300px 300px; */
  grid-template-rows: auto;
}
