.lead {
  margin: 56px auto 0;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  grid-column: 3;
  grid-row: 2;
}
@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 48px auto 0;
    grid-column: 2;
    grid-row: 2;
  }
}
@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
    grid-column: 1 / 4;
    grid-row: 2;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}
