.place__paragraph {
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px 0;
  grid-column: 2;
  grid-row: 2;
}
.place__paragraph:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 700px) {
  .place__paragraph {
    grid-column: 1;
    grid-row: 4;
    margin: 0 20px 0;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph {
    grid-column: 1;
    grid-row: 4;
    margin: 0 16px 0;
  }
}
