.intro {
  max-width: 690px;
  margin: 92px 0 0 0;
  grid-column: 3;
  grid-row: 3;
}
@media screen and (max-width: 1024px) {
  .intro {
    grid-column: 2;
    grid-row: 3;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin-top: 88px;
  }
}
@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-top: 64px;
  }
}
