.cover__overlay {
  text-decoration: none;
  background: url("../../../images/cover-trains.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 1180px;
  max-height: 100%;
  min-height: 740px;
}
.cover__overlay::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.cover__overlay:hover::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.8;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .cover__overlay {
    width: 1024px;
    min-height: 640px;
  }
}
@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 768px;
    min-height: 480px;
  }
}
@media screen and (max-width: 700px) {
  .cover__overlay {
    width: 700px;
    min-height: 430px;
  }
}
@media screen and (max-width: 500px) {
  .cover__overlay {
    width: 500px;
    min-height: 310px;
  }
}
@media screen and (max-width: 320px) {
  .cover__overlay {
    width: 320px;
    min-height: 200px;
  }
}
