.place {
  margin: 0 0 80px 0;
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-template-rows: auto;
  row-gap: 48px;
  column-gap: 40px;
}
.place:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) 1fr;
    column-gap: 32px;
  }
}
@media screen and (max-width: 768px) {
  .place {
    margin-bottom: 73px;
    grid-template-columns: fit-content(340px) 1fr;
    column-gap: 28px;
  }
}
@media screen and (max-width: 700px) {
  .place {
    margin-bottom: 60px;
    grid-template-columns: 1fr;
    column-gap: 28px;
  }
}
@media screen and (max-width: 320px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}
